.row {

  min-width: 100%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  //display: block;

  & [class^=col] {
	padding: 15px 0;
	flex: 1;
	margin-bottom: 0;
	padding-bottom: 0;
  }

  @for $i from 1 through 10 {
	.col#{$i} {
	  flex: $i;
	  min-width: #{10*$i}px;
	}
  }

  &_right {
	flex-direction: row-reverse;
  }
}

/* SMARTPHONES PORTRAIT */
@media only screen and (min-width: 300px) {
  body {
	//background: green !important;
	.row {
	  //display: block;
	}
  }
}

/* SMARTPHONES PORTRAIT */
@media only screen and (max-width: 480px) {
  body {
	//background: black !important;
	.row {
	  display: block;
	}
  }
}

/* SMARTPHONES LANDSCAPE */
@media only screen and (min-width: 480px) {
  body {
	//background: yellow !important;

  }
}

/* TABLETS PORTRAIT */
@media only screen and (min-width: 768px) {
  body {
	//background: red !important;
  }

}

/* TABLET LANDSCAPE / DESKTOP */
@media only screen and (min-width: 1024px) {
  body {
	//background: purple !important;
  }
}

