html, body {
  height: 100%;
}

body {
  position: relative;
  &.loading {
	cursor: progress !important;
  }
  &.admin-bar {
	margin-top: 32px;
  }
}

header.header {
  color: #fff;
  background: #000;
}

a {
  color: black;
  &:first-letter {
	text-transform: uppercase;
  }
}

.nav {
  &_below {
	width: 100%;
	margin-top: 2rem;
	a {
	  @extend %gutter;
	  color: #000;
	  font-size: 2rem;
	  font-weight: 700;
	  text-align: center;
	  display: inline-block;
	  width: 100%;
	  text-decoration: none;
	}
  }
  &_previous, &_next {
	@extend .fav_card;
  }
}

.footer {
  &_main {
	@extend %gutter;
	position: relative;
	.row {
	  flex-direction: column;
	  margin-top: 1rem;
	  @media only screen and (min-width: 480px) {
		flex-direction: row;
	  }
	}

	.col {
	  margin-left: 1rem;
	}
	.info {
	  li {
		list-style: none;
	  }
	  p {
		a {
		  color: #000;
		  text-decoration: none;
		  font-weight: bold;
		  font-style: italic;
		  &:hover {
			text-decoration: underline;
		  }
		}
	  }
	}
  }
  &_top {
	position: absolute;
	bottom: 2rem;
	right: 2rem;
	margin: 0;
	font-style: normal;
	width: 3rem;
  }
}

header.header {
  @extend %gutter;
}

article {
  padding: 1rem;
  .entry {
	&_content {
	  padding: 1rem;
	  @extend %gutter;
	  blockquote {
		background: #ddd;
		padding: .5rem;
		margin: .5rem;
	  }
	  ul {
		margin-left: 1rem;
	  }
	}
  }
}

.no-results, .not-found {
  @extend %gutter;
}

.screen-reader-text {
  position: absolute;
  top: -9999px;
  left: -9999px;
}