%gutter {
  box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.05);
  @media only screen and (min-width: 768px) {
	padding: $base-padding;
	margin: 13px;
  }
  width: auto;
  background: #fff;
  border: 0;
  &:first-letter {
	//text-transform: uppercase;
  }
}

.gutter {
  @extend %gutter;
}

.button {
  //background: #00ff00;
  display: inline-block;
  //float: right;
  margin: 0 .5rem;
  padding: 1rem .3rem;
  height: 3rem;
  min-width: 3rem;
  line-height: 1rem;
  font-size: 2rem;
  font-weight: bold;
  text-decoration: none;
  cursor: pointer;
  color: black;
  text-align: center;
  border: .1rem solid #000;
  background: #fff;
  transition: .3s background;
  position: relative;
  &:hover {
	background: $main-color;
	color: white;
	border-color: $main-color;
  }
}

%gradiant {
  background: #DC281E;
  color: white;
}

.tag {
  @extend %gutter;
  font-size: 1rem;
  font-weight: 900;
  text-decoration: none;
  padding: .2rem .4rem;
  line-height: 1em;
  background: black;
  color: #fff;
  display: inline-block;
  text-transform: uppercase;
  cursor: pointer;
  &.camouflage {
	font-size: 80%;
  }
}

%firstletter {
  &:first-letter {
	//text-transform: uppercase;
  }
}

.text_reader {
  position: absolute;
  top: -9999px;
  left: -9999px;
  z-index: 9999;
}

.tooltip {
  position: fixed;
  background: #fff;
  pointer-events: none;
  padding: .3rem;
  @extend .gutter;
  border: .1rem solid #000;
  z-index: 9999;
}

.private {
  font-style: italic !important;
  color: gray;
}