%gutter {
  box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.05);
  @media only screen and (min-width: 768px) {
	padding: $base-padding;
	margin: 13px;
  }
  width: auto;
  background: #fff;
  border: 0;
  &:first-letter {
	//text-transform: uppercase;
  }
}

.gutter {
  @extend %gutter;
}

.button {
  min-width: 46px;
  height: 46px;
  display: inline-block;
  @extend %gutter;
  margin: 0;
  margin-left: 1rem;
  //padding: 1rem .5rem;
  font-size: 1rem;
  text-align: center;
  cursor: pointer;
  border: .1rem solid #000;

  text-decoration: none;
  font-weight: bold;
  color: black;
  position: relative;
  border-radius: 300px;
  padding: 1rem 1.5rem;

  &:first-letter {
	text-transform: uppercase;
  }
  &::after {
	margin: 0;
	padding: 0;
	position: absolute;
	content: " ";
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	animation: all 1s;
	transform: scale(0);
	//width: 0;
	transition: all .5s;
	border-radius: 300px;
	box-shadow: inset 0px 0px 130px 1px #49ff78;
	z-index: -1;

  }
  &:hover {
	//color: white;
	position: relative;
	z-index: 1;
	border: .1rem solid transparent;

	&::after {
	  animation: all 1s;
	  background: #49ff78;
	  transform: scale(1);
	  //box-shadow: inset 0px 0px 130px 1px rgba(73, 255, 120, 0);
	  //border-radius: 0;
	}
  }
  &:focus {
	border: 1px solid #000;
  }
}

%gradiant {
  background: #DC281E;
  color: white;
}

.tag {
  @extend %gutter;
  font-size: 1rem;
  font-weight: 900;
  text-decoration: none;
  padding: .2rem .4rem;
  line-height: 1em;
  background: black;
  color: #fff;
  display: inline-block;
  text-transform: uppercase;
  &.camouflage {
	font-size: 80%;
  }
}

%firstletter {
  &:first-letter {
	//text-transform: uppercase;
  }
}

.text_reader {
  position: absolute;
  top: -9999px;
  left: -9999px;
}