@import url('https://fonts.googleapis.com/css?family=Cabin:400,400i,500,500i,600,600i,700,700i');

$base-font-size: 17px;

@function em($px, $base: $base-font-size) {
  @return round(($px/$base) * 1rem);
}

$base-padding: em(20px);
$h1-size: em(60px);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: $base-font-size;
  background: #F2F2F2;
  font-family: 'Cabin', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 900 !important;
  &:first-letter {
	text-transform: capitalize;
  }
}

h1 {
  font-size: em(60px);
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 900 !important;
}

h1 {
  font-size: $h1-size;
}

h2 {
  &.big {
  }
  &.subline {
	font-size: 4rem;
	font-weight: 500;
	font-style: italic;
	&::after {
	  margin-top: .5rem;
	  content: "";
	  display: block;
	  width: 12rem;
	  height: 1rem;
	  background: $main-color;
	}
  }
}

img {
  background: transparent;
}

body {
  //transition: background 1s, filter 1s;
  img, video {
  }
  &.nightmode {
	filter: invert(1) hue-rotate(180deg);
	background: #252525;

	img, video {
	  -webkit-filter: invert(1) hue-rotate(180deg);
	  filter: invert(1) hue-rotate(180deg);
	}
	.noinvert, img[src$="svg"] {
	  filter: invert(0) hue-rotate(0);
	}
  }
  &.home {
	//background: $main-color;
	&.nightmode {
	  background: darkslategrey;
	}
  }
}


